<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            
        {% endblock %}

         

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

    
        <main>

         <div id="fonctionnal">



           

            <div id="panel">

                        <div id="notification"></div>
                        <nav id="connection">

                         <img class="big-icon" src="{{ asset('build/media/images/logo.png') }}" />


                         <h3>Connectez vous à votre espace</h3>

                         <form id="sender" data-action="connected" method="POST" action="">


                            <p>
                         <label>Nom d'utilisateur</label><br>
                         <input type="text" name="userconnect" value=""/></p>

                         <p>
                         <label>Mot de passe</label><br>
                         <input type="password" name="userpassword" value=""/>
                         </p>

                         <p>

                         <input type="submit" value="Se connecter" />

                         </p>

                         </form>

                         </nav>
            </div>

        
        
        </div>
                        








        </main>
    </body>
</html>
