


        <section id="concil" class="arrive full">

       


        <nav>

         <h2>Partageons notre savoir</h2>

         <div class="flexible">

             <div data-id="concilan" class="routing choice">
        <img class="big-icon" src="{{ asset('build/icons/003-information-button.png') }}" alt="My Logo" />
                <br>
                    <strong>Demander <br>des conseils</strong>
                         </div>




                         <div data-id="conciler" class="routing choice" >
     <img class="big-icon" src="{{ asset('build/icons/003-information-button.png') }}" alt="My Logo" />
                <br>
                    <strong>Donner <br>des conseils</strong>
                         </div>
                         </div>



                         </nav>





    </section>



