


        <section id="dante" class="arrive full">

          

        <nav >
      
        <h1>Ressource humaine</h1>



        <div id="navigator" class="flexible">
           <a id="backtohome" href="/"><div class="navigate"> <img class="pictos" src=" {{ asset('build/media/icons/home.png') }}"/>Revenir à l'accueil</div></a>
  
  
        </div>
        
        <div id="feature" style="width: 777px;
    margin: auto;
    margin-top: 3%;">
        <p>
        <h3>Ces fonctionnalités vous permettent de gérer les demandes de congés et les absences de vos salariés.</h3>
                <h4 style="color:blue">En cours de développement, certaines fonctionnalités ne sont pas encore opérationnelles</h4>


        <div style="text-align:center">
        <div style="margin-top:15px;" id="main-permission"><button class="actionbutton routing" data-id="permission">Congé</button></div>
                 <div style="margin-top:15px;" id="main-absence"><button class="actionbutton routing" data-id="absence">Absences</button></div>
                         <div style="margin-top:15px;" id="main-personal"><button class="actionbutton routing" data-id="personal">Salariés</button></div>
                 <div style="margin-top:15px;" id="main-calendar"><button class="actionbutton routing" data-id="calendar">Calendrier</button></div>
                                 <div style="margin-top:15px;" id="main-personal"><button class="actionbutton routing" data-id="stat">Statistique du personnel</button></div>
                </div>
        </p>
        </div>
             </nav>





    </section>



