<section id="loader">
    <img src=" {{ asset('build/media/images/logo.png') }}" />

    <br>

            <div class="anime-load">
            <span class="loader-icon loader-bars"><span></span></span>
            Chargement...</div>
        </section>