


        <section id="dante" class="arrive full">

          
        
        <nav >
       
        <h1>Formations</h1>


        <div id="navigator" class="flexible">
          <a id="backtohome" href="/"><div class="navigate"> <img class="pictos" src=" {{ asset('build/media/icons/home.png') }}"/>Revenir à l'accueil</div></a>
        </div>
        
        <div id="feature" style="width: 777px;
    margin: auto;
    margin-top: 3%;">
        <p>
        <h3>Menu principal</h3>

        <div style="text-align:center">
        <div style="margin-top:15px;" id="main-formation"><button class="actionbutton routing" data-id="formation" >Créer ou valider une demande de formation</button></div>
                <div style="margin-top:15px;" id="main-formation-2"><button class="actionbutton routing" data-id="formation" >Créer une demande de formation</button></div>
        <div style="margin-top:15px;" id="main-institute"><button class="actionbutton routing" data-id="institute" >Ajouter un organisme de formation</button></div>
          <div style="margin-top:15px;" id="main-certificate"><button class="actionbutton routing" data-id="certificate">Ajouter un intitulé de formation</button></div>
            <div style="margin-top:15px;" id="main-customer"><button class="actionbutton routing" data-id="customer">Ajouter une entreprise</button></div>

            <div style="margin-top:15px;" id="main-consulting"><button class="actionbutton routing" data-id="consulting">Ajouter un intérimaire</button></div>
             <div  style="margin-top:15px;" id="main-documents"> <button class="actionbutton routing" data-id="documents">Déposer des documents</button></div>
              <div  style="margin-top:15px;" id="main-stat"><button class="actionbutton routing" data-id="stat">Consulter les statistiques de vos demandes de formation</button></div>
                </div>

        
        
        </p>
        </div>
             </nav>





    </section>



