


        <section id="dante" class="arrive full">

          

        <nav >
      
        <h1>Congés et Absences</h1>



        <div id="navigator" class="flexible">
           <a id="backtohome" href="/"><div class="navigate"> <img class="pictos" src=" {{ asset('build/media/icons/home.png') }}"/>Revenir à l'accueil</div></a>
        </div>
        
        <div id="feature" style="width: 777px;
    margin: auto;
    margin-top: 3%;">
        <p>
        <h3>Menu principal</h3>


        <div style="text-align:center">
        <div style="margin-top:15px;" id="main-permission"><button class="actionbutton routing" data-id="permission">créer ou valider une demande de congé</button></div>
        <div style="margin-top:15px;" id="main-permission-2"><button class="actionbutton routing" data-id="permission">créer une demande de congé</button></div>
                 <div style="margin-top:15px;" id="main-absence"><button class="actionbutton routing" data-id="absence">Ajouter un ou des absences</button></div>
                 <div style="margin-top:15px;" id="main-calendar"><button class="actionbutton routing" data-id="calendar">Consulter le calendrier</button></div>
                </div>
        </p>
        </div>
             </nav>





    </section>



