


        <section id="dante" class="arrive full">

          

        <nav >
      
        <h1>Paramètres</h1>



        <div id="navigator" class="flexible">
           <a id="backtohome" href="/"><div class="navigate"> <img class="pictos" src=" {{ asset('build/media/icons/home.png') }}"/>Revenir à l'accueil</div></a>
        
        </div>
        
        <div id="feature" style="width: 777px;
    margin: auto;
    margin-top: 3%;">
        <p>
        <h3>Menu principal</h3>


        <div style="text-align:center">
        <div style="margin-top:15px;" id="main-config"><button class="actionbutton routing" data-id="configuration">Configuration</button></div>
                <div style="margin-top:15px;" id="main-user"><button class="actionbutton routing" data-id="user">Gestion des utilisateurs</button></div>
                <div style="margin-top:15px;" id="main-about"><button class="actionbutton routing" data-id="about">A propos</button></div>
                </div>

        
        
        </p>
        </div>
             </nav>





    </section>



